<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta property="og:title" content="Fate/Starry Night Character Compendium" />
  <meta property="og:description" content="There's no story skip button here.">
  <meta name="google-site-verification" content="oBjSHH7uh3kTsqNz1qTra8nMygRSy_yYAWGecxlIPPI" />

  <title>FGO Fan Servant Generator</title>
  <meta name="description" content="Fate Grand Order fan servant generator with a mock FGO servant profile UI. All assets belong to Lasengle, Typemoon, Nasu Kinoko, and artists. All Servant data belong to their respective creators. Personal use only!">

  <script src="https://kit.fontawesome.com/fbb57351e0.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/servant-profile.css">
  <link rel="stylesheet" href="css/origin-list.css">
  <link rel="stylesheet" href="css/edit-page.css">

<style>

#edit-page {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 39999;
  position: absolute;
  margin-top: -10px;
  background-color: rgba(15, 25, 40, 0.9);
  overflow-y: auto;

  color: lightgray;
  font-size: 18px;
  font-family: Calibri;

  display: none;
}
#edit-page.active {
  display: block;
    
}
#edit-page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 20px auto;
  width: 94%;
}
.flex-break {
    flex-basis: 100%;
    height: 0;
}
.edit-title {
  margin-top: 25px !important;
  margin-bottom: -15px !important;
  margin-right: 10px;
  margin-left: 10px;

  font-size: 23px;
  font-family: Optima;
  text-decoration: underline;
}
.one-row-item {
  width: 100%;
}
.two-row-item {
  width: 50%;
}
.three-row-item {
    width: 33%;
}
#edit-page div {
  margin-top: 10px;
  text-align: center;
}
#edit-page input {
  width: 90%;
  max-width: 500px;
}
#edit-page select {
  width: 90%;
  text-align: center;
}
#edit-page textarea {
  min-width: 19em;
  max-width: 19em;
}
.two-row-item textarea {
  min-width: 25em !important;
  max-width: 25em !important;
}
#edit-voice textarea {
  min-height: 4em !important;
  max-height: 4em !important;
  min-width: 47em !important;
  max-width: 47em !important;
}
#edit-gallery input {
  width: 600px;
}
.edit-cd {
  width: 40px;
}
.edit-lv,
.edit-rank {
  width: 80px;
}
#edit-voice-add,
#edit-gallery-add {
  background-color: seagreen;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}
#edit-page input,
#edit-page textarea,
#edit-page select {
  background-color: rgba(20, 30, 40, 0.8);
  border: 1px solid dimgray;
  color: #e6e6e6;
  font-size: 16px;
  font-family: Calibri !important;
}
#edit-password {
  width: 200px !important;
}
#edit-page-cancel,
#submit {
  width: 200px !important;
  margin: 20px 100px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
#edit-page-cancel {
  color: coral !important;
}
#submit {
  color: #789cff !important;
}


</style>



</head>
<body>


<div class='flex-container'>

    <div id="edit-page" class=""> 
      <div id="edit-page-wrapper">
          <div class="one-row-item">
              <label for="edit-info-cardURL">Unique Servant Name (All lowercase, no spaces. This is the ID we use to identify your Servant.)</label><br>
              <input type="text" id="edit-info-cardURL" name="edit-info-cardURL" value=""><br>
          </div>

          <div class="flex-break"></div>

          <div  class="one-row-item">
              <label for="edit-info-cardartURL"></label>Card Art URL (For best results: 300x500. OR same ratio.)<br>
              <input type="text" id="edit-info-cardartURL" name="edit-info-cardartURL" value=""><br>
          </div>
          <div class="flex-break"></div>
          <div class="one-row-item">
              <label for="edit-info-ccartURL"></label>Command Card Art URL (For best results: 135x165, chin rests at 95 pixel mark from the top. OR same ratio.)<br>
              <input type="text" id="edit-info-ccartURL" name="edit-info-ccartURL" value=""><br>
          </div>
          <div class="flex-break"></div>
          <div class="one-row-item">
              <label for="edit-info-oliconURL"></label>Origin List Icon URL (For best results: SQUARE images only.)<br>
              <input type="text" id="edit-info-oliconURL" name="edit-info-oliconURL" value=""><br>
          </div>

          <div class="flex-break"></div>

          <div class="three-row-item edit-title">
              <label for="edit-info-servantName"></label>Servant Name<br>
              <input type="text" id="edit-info-servantName" name="edit-info-servantName" value=""><br>
          </div>
          <div class="three-row-item edit-title">
              <label for="edit-info-servantClass"></label>Servant Class<br>
              <select id="edit-info-servantClass" name="edit-info-servantClass">
                  <option value="Saber">Saber</option><option value="Archer">Archer</option><option value="Lancer">Lancer</option><option value="Rider">Rider</option><option value="Caster">Caster</option><option value="Assassin">Assassin</option><option value="Berserker">Berserker</option><option value="Avenger">Avenger</option><option value="Ruler">Ruler</option><option value="Alter Ego">Alter Ego</option><option value="Foreigner">Foreigner</option><option value="Moon Cancer">Moon Cancer</option><option value="Pretender">Pretender</option><option value="Shielder">Shielder</option>
              </select><br>
          </div>
          <div class="three-row-item edit-title">
              <label for="edit-info-servantRarity">Servant Rarity</label><br>
              <select id="edit-info-servantRarity" name="edit-info-servantRarity">
                  <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
              </select><br>
          </div>


          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Personal Skill 1</div>
          <div class="flex-break"></div>
          <div>
          <label for="edit-pskill-skill1-name">Name</label><br>
          <input type="text" id="edit-pskill-skill1-name" name="edit-pskill-skill1-name" value=""><br>
          </div>
          <div class="edit-rank">
          <label for="edit-pskill-skill1-rank">Rank</label><br>
          <select id="edit-pskill-skill1-rank" name="edit-pskill-skill1-rank">
              <option value="EX">EX</option><option value="A">A</option><option value="B">B</option><option value="C">C</option><option value="D">D</option><option value="E">E</option>
          </select><br>
          </div>
          <div class="edit-lv">
          <label for="edit-pskill-skill1-level">Lv</label><br>
          <select id="edit-pskill-skill1-level" name="edit-pskill-skill1-">
              <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
          </select><br>
          </div>
          <div class="edit-cd">
          <label for="edit-pskill-skill1-cd">CD</label><br>
          <input type="text" id="edit-pskill-skill1-cd" name="edit-pskill-skill1-cd" value=""><br>
          </div>
          <div>
          <label for="edit-pskill-skill1-iconURL">Icon URL</label><br>
          <input type="text" id="edit-pskill-skill1-iconURL" name="edit-pskill-skill1-iconURL" value=""><br>
          </div>
          <div>
          <label for="edit-pskill-skill1-desc">Effect</label><br>
          <textarea id="edit-pskill-skill1-desc" name="edit-pskill-skill1-desc" rows="5" cols="30"></textarea>
          </div>
          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Personal Skill 2</div>
          <div class="flex-break"></div>
          <div>
          <label for="edit-pskill-skill2-name">Name</label><br>
          <input type="text" id="edit-pskill-skill2-name" name="edit-pskill-skill2-name" value=""><br>
          </div>
          <div class="edit-rank">
          <label for="edit-pskill-skill2-rank">Rank</label><br>
          <select id="edit-pskill-skill2-rank" name="edit-pskill-skill2-rank">
              <option value="EX">EX</option><option value="A">A</option><option value="B">B</option><option value="C">C</option><option value="D">D</option><option value="E">E</option>
          </select><br>
          </div>
          <div class="edit-lv">
          <label for="edit-pskill-skill2-level">Lv</label><br>
          <select id="edit-pskill-skill2-level" name="edit-pskill-skill2-">
              <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
          </select><br>
          </div>
          <div class="edit-cd">
          <label for="edit-pskill-skill2-cd">CD</label><br>
          <input type="text" id="edit-pskill-skill2-cd" name="edit-pskill-skill2-cd" value=""><br>
          </div>
          <div>
          <label for="edit-pskill-skill2-iconURL">Icon URL</label><br>
          <input type="text" id="edit-pskill-skill2-iconURL" name="edit-pskill-skill2-iconURL" value=""><br>
          </div>
          <div>
          <label for="edit-pskill-skill2-desc">Effect</label><br>
          <textarea id="edit-pskill-skill2-desc" name="edit-pskill-skill2-desc" rows="5" cols="30"></textarea>
          </div>
          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Personal Skill 3</div>
          <div class="flex-break"></div>
          <div>
          <label for="edit-pskill-skill3-name">Name</label><br>
          <input type="text" id="edit-pskill-skill3-name" name="edit-pskill-skill3-name" value=""><br>
          </div>
          <div class="edit-rank">
          <label for="edit-pskill-skill3-rank">Rank</label><br>
          <select id="edit-pskill-skill3-rank" name="edit-pskill-skill3-rank">
              <option value="EX">EX</option><option value="A">A</option><option value="B">B</option><option value="C">C</option><option value="D">D</option><option value="E">E</option>
          </select><br>
          </div>
          <div class="edit-lv">
          <label for="edit-pskill-skill3-level">Lv</label><br>
          <select id="edit-pskill-skill3-level" name="edit-pskill-skill3-">
              <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
          </select><br>
          </div>
          <div class="edit-cd">
          <label for="edit-pskill-skill3-cd">CD</label><br>
          <input type="text" id="edit-pskill-skill3-cd" name="edit-pskill-skill3-cd" value=""><br>
          </div>
          <div>
          <label for="edit-pskill-skill3-iconURL">Icon URL</label><br>
          <input type="text" id="edit-pskill-skill3-iconURL" name="edit-pskill-skill3-iconURL" value=""><br>
          </div>
          <div>
          <label for="edit-pskill-skill3-desc">Effect</label><br>
          <textarea id="edit-pskill-skill3-desc" name="edit-pskill-skill3-desc" rows="5" cols="30"></textarea>
          </div>
          

          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Class Skill 1</div>
          <div class="flex-break"></div>
          <div>
          <label for="edit-cskill-skill1-name">Name</label><br>
          <input type="text" id="edit-cskill-skill1-name" name="edit-cskill-skill1-name" value=""><br>
          </div>
          <div class="edit-rank">
          <label for="edit-cskill-skill1-rank">Rank</label><br>
          <select id="edit-cskill-skill1-rank" name="edit-cskill-skill1-rank">
              <option value="EX">EX</option><option value="A">A</option><option value="B">B</option><option value="C">C</option><option value="D">D</option><option value="E">E</option>
          </select><br>
          </div>
          <div>
          <label for="edit-cskill-skill1-iconURL">Icon URL</label><br>
          <input type="text" id="edit-cskill-skill1-iconURL" name="edit-cskill-skill1-iconURL" value=""><br>
          </div>
          <div>
          <label for="edit-cskill-skill1-desc">Effect</label><br>
          <textarea id="edit-cskill-skill1-desc" name="edit-cskill-skill1-desc" rows="5" cols="30"></textarea>
          </div>
          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Class Skill 2</div>
          <div class="flex-break"></div>
          <div>
          <label for="edit-cskill-skill2-name">Name</label><br>
          <input type="text" id="edit-cskill-skill2-name" name="edit-cskill-skill2-name" value=""><br>
          </div>
          <div class="edit-rank">
          <label for="edit-cskill-skill2-rank">Rank</label><br>
          <select id="edit-cskill-skill2-rank" name="edit-cskill-skill2-rank">
              <option value="EX">EX</option><option value="A">A</option><option value="B">B</option><option value="C">C</option><option value="D">D</option><option value="E">E</option>
          </select><br>
          </div>
          <div>
          <label for="edit-cskill-skill2-iconURL">Icon URL</label><br>
          <input type="text" id="edit-cskill-skill2-iconURL" name="edit-cskill-skill2-iconURL" value=""><br>
          </div>
          <div>
          <label for="edit-cskill-skill2-desc">Effect</label><br>
          <textarea id="edit-cskill-skill2-desc" name="edit-cskill-skill2-desc" rows="5" cols="30"></textarea>
          </div>
          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Class Skill 3</div>
          <div class="flex-break"></div>
          <div>
          <label for="edit-cskill-skill3-name">Name</label><br>
          <input type="text" id="edit-cskill-skill3-name" name="edit-cskill-skill3-name" value=""><br>
          </div>
          <div class="edit-rank">
          <label for="edit-cskill-skill3-rank">Rank</label><br>
          <select id="edit-cskill-skill3-rank" name="edit-cskill-skill3-rank">
              <option value="EX">EX</option><option value="A">A</option><option value="B">B</option><option value="C">C</option><option value="D">D</option><option value="E">E</option>
          </select><br>
          </div>
          <div>
          <label for="edit-cskill-skill3-iconURL">Icon URL</label><br>
          <input type="text" id="edit-cskill-skill3-iconURL" name="edit-cskill-skill3-iconURL" value=""><br>
          </div>
          <div>
          <label for="edit-cskill-skill3-desc">Effect</label><br>
          <textarea id="edit-cskill-skill3-desc" name="edit-cskill-skill3-desc" rows="5" cols="30"></textarea>
          </div>


          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Noble Phantasm</div>
          <div class="flex-break"></div>

          <div>
          <label for="edit-np-type">Type</label><br>
          <select id="edit-np-type" name="edit-np-type">
              <option value="buster">Buster</option>
              <option value="arts">Arts</option>
              <option value="quick">Quick</option>
          </select><br>
          </div>
          <div>
          <label for="edit-np-name">Name</label><br>
          <input type="text" id="edit-np-name" name="edit-np-name" value=""><br>
          </div>
          <div class="edit-rank">
          <label for="edit-np-rank">Rank</label><br>
          <select id="edit-np-rank" name="edit-np-rank">
              <option value="EX">EX</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
          </select><br>
          </div>
          <div>
          <label for="edit-np-class">Class</label><br>
          <input type="text" id="edit-np-class" name="edit-np-class" value=""><br>
          </div>
          <div class="edit-lv">
          <label for="edit-np-level">Lv</label><br>
          <select id="edit-np-level" name="edit-np-level">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
          </select><br>
          </div>
          <div>
          <label for="edit-np-desc">Effect</label><br>
          <textarea id="edit-np-desc" name="edit-np-desc" rows="5" cols="30"></textarea>
          </div>

          <div class="flex-break"></div>
          <div class="edit-title">Command Cards</div>


          <div>
          <label for="edit-cc-cc1">Card 1</label><br>
          <select id="edit-cc-cc1" name="edit-cc-cc1">
              <option value="buster">Buster</option>
              <option value="arts">Arts</option>
              <option value="quick">Quick</option>
          </select><br>
          </div>
          <div>
          <label for="edit-cc-cc2">Card 2</label><br>
          <select id="edit-cc-cc2" name="edit-cc-cc2">
              <option value="buster">Buster</option>
              <option value="arts">Arts</option>
              <option value="quick">Quick</option>
          </select><br>
          </div>
          <div>
          <label for="edit-cc-cc3">Card 3</label><br>
          <select id="edit-cc-cc3" name="edit-cc-cc3">
              <option value="buster">Buster</option>
              <option value="arts">Arts</option>
              <option value="quick">Quick</option>
          </select><br>
          </div>
          <div>
          <label for="edit-cc-cc4">Card 4</label><br>
          <select id="edit-cc-cc4" name="edit-cc-cc4">
              <option value="buster">Buster</option>
              <option value="arts">Arts</option>
              <option value="quick">Quick</option>
          </select><br>
          </div>
          <div>
          <label for="edit-cc-cc5">Card 5</label><br>
          <select id="edit-cc-cc5" name="edit-cc-cc5">
              <option value="buster">Buster</option>
              <option value="arts">Arts</option>
              <option value="quick">Quick</option>
          </select><br>
          </div>

          <div class="flex-break"></div>
          <div class="edit-title">Parameters</div>


          <div>
          <label for="edit-param-str">STR</label><br>
          <select id="edit-param-str" name="edit-param-str">
              <option value="EX">EX</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
          </select><br>
          </div>
          <div>
          <label for="edit-param-end">END</label><br>
          <select id="edit-param-end" name="edit-param-end">
              <option value="EX">EX</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
          </select><br>
          </div>
          <div>
          <label for="edit-param-agi">AGI</label><br>
          <select id="edit-param-agi" name="edit-param-agi">
              <option value="EX">EX</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
          </select><br>
          </div>
          <div>
          <label for="edit-param-man">MAN</label><br>
          <select id="edit-param-man" name="edit-param-man">
              <option value="EX">EX</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
          </select><br>
          </div>
          <div>
          <label for="edit-param-luk">LUK</label><br>
          <select id="edit-param-luk" name="edit-param-luk">
              <option value="EX">EX</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
          </select><br>
          </div>
          <div>
          <label for="edit-param-np">NP</label><br>
          <select id="edit-param-np" name="edit-param-np">
              <option value="EX">EX</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
          </select><br>
          </div>

          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Profiles</div>
          <div class="flex-break"></div>
          <div class="two-row-item">
          <label for="edit-profile-profile1">Profile 1</label><br>
          <textarea id="edit-profile-profile1" name="edit-profile-profile1" rows="5" cols="30"></textarea>
          </div>

          <div class="two-row-item">
          <label for="edit-profile-profile2">Profile 2</label><br>
          <textarea id="edit-profile-profile2" name="edit-profile-profile2" rows="5" cols="30"></textarea>
          </div>
          <div class="flex-break"></div>
          <div class="two-row-item">
          <label for="edit-profile-profile3">Profile 3</label><br>
          <textarea id="edit-profile-profile3" name="edit-profile-profile3" rows="5" cols="30"></textarea>
          </div>

          <div class="two-row-item">
          <label for="edit-profile-profile4">Profile 4</label><br>
          <textarea id="edit-profile-profile4" name="edit-profile-profile4" rows="5" cols="30"></textarea>
          </div>
          <div class="flex-break"></div>
          <div class="two-row-item">
          <label for="edit-profile-profile5">Profile 5</label><br>
          <textarea id="edit-profile-profile5" name="edit-profile-profile5" rows="5" cols="30"></textarea>
          </div>

          <div class="two-row-item">
          <label for="edit-profile-profile6">Profile 6</label><br>
          <textarea id="edit-profile-profile6" name="edit-profile-profile6" rows="5" cols="30"></textarea>
          </div>
          

          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Voice</div>
          <div class="flex-break"></div>
          <div id="edit-voice"></div>
          <div class="flex-break"></div>
          <div id="edit-voice-add">Add New Voice</div>


          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Gallery</div>
          <div class="flex-break"></div>
          <div id="edit-gallery"></div>
          <div class="flex-break"></div>
          <div id="edit-gallery-add">Add New Image</div>


          <div class="flex-break"></div>
          <div>
          <label for="edit-password" id="edit-password-label">Password (save this, as you will need to input this password to edit this page in the future)</label><br>
          <input type="text" id="edit-password" name="edit-password" value=""><br>
          </div>
          <div class="flex-break"></div>

          <div><input id="submit" type="button" value="Submit" /></div>
          

          <div><input id="edit-page-cancel" type="button" value="Cancel" /></div>
    
      </div>
    </div>


    <div id="origin-list" class="active">
        <div id="origin-list-top">
            <div id="ol-title">Spirit Origin List</div>
            <div id="ol-caption">Card</div>
            <div id="ol-tip">By tapping the icon, you can check the details of your selection.</div>
            
        </div>
        <div id="origin-list-mid">
            <div id="ol-nav-left">
                <div class="ol-nav-left-bt" id="ol-nav-left-bt1">
                    <div id="ol-nav-left-title1">Servants</div>
                    <div id="ol-nav-left-info1"><%=servantList.length%>/<%=servantList.length%></div>
                </div>
                <div class="ol-nav-left-bt" id="ol-nav-left-bt2">
                    <div id="ol-nav-left-title2">Craft Essence</div>
                    <div id="ol-nav-left-info2">0/0</div>
                </div>
                <div class="ol-nav-left-bt" id="ol-nav-left-bt3">
                    <div id="ol-nav-left-title3">Command Code</div>
                    <div id="ol-nav-left-info3">0/0</div>
                </div>
            </div>
            <div id="ol-nav-right">
                <div class="ol-nav-right-bt" id="ol-nav-right-bt1">
                    <div>Filter</div>
                </div>
                <div class="ol-nav-right-bt" id="ol-nav-right-bt2">
                    <div>Acquisition</div>
                </div>
                <div class="ol-nav-right-bt" id="ol-nav-right-bt3">
                    <div>Descend</div>
                </div>
            </div>
        </div>
        <div id="origin-list-bot">
            <% servantList.forEach(servant => { %>
            <div class="ol-icon"> 
                <img class='ol-icon-base' src="assets/charaicon/card<%=servant.info.servantRarity%>.png">
                <img class='ol-icon-servant' id='ol-<%=servant.info.cardURL%>' src="<%=servant.info.oliconURL%>">
                <img class='ol-icon-frame' src="assets/charaicon/card<%=servant.info.servantRarity%>frame.png">
                <img class='ol-icon-type' src="assets/charaicon/servant<%=servant.info.servantRarity%>.png">
                <img class='ol-icon-class' src="assets/charaicon/class<%=servant.info.servantClass.toLowerCase()%><%=servant.info.servantRarity%>.png">
                <img class='ol-icon-star' src="assets/charaicon/star<%=servant.info.servantRarity%>.png">
            </div>
            <% }) %>


        </div>
        <div id="origin-list-bot2"></div>
        
    </div>


    <div id="col-left" style="flex: 5.5%">
        <div id="button-close-profile" style="flex: 25%"><span>Close</span></div>
        <div id="button-edit-page" style="flex: 25%">
          <i class="fa-solid fa-pen-to-square"></i><span>Edit</span>
        </div>
        <div id="button-create-page" style="flex: 25%">
          <i class="fa-solid fa-wand-magic-sparkles"></i><span>Create</span>
        </div>
        <div style="flex: 25%"><span>Favorite</span></div>
    </div>


    <div id="col-mid" style="flex: 32.5%">
        <img id="pf-charagraph-base" src="">
        <img id="pf-cardURL" src="">
        <img id="pf-charagraph-frame" src="">
        <img id="pf-charagraph-class" src="">
    </div>


    <div id="col-right" style="flex: 62%">
        <div id="profile-name">
            <div id="pf-servantName"></div>
            <div id="pf-servantClass"></div>
            <div id="pf-servantID" style="display:none"></div>
        </div>
        <div id="profile-nav">
            <div style="flex: 25%" class="profile-nav active" data-slide="0">Status</div>
            <div style="flex: 25%" class="profile-nav" data-slide="1">Profile</div>
            <div style="flex: 25%" class="profile-nav" data-slide="2">Gallery</div>
            <div style="flex: 25%" class="profile-nav" data-slide="3">Voice</div>
        </div>
        <div id="profile-content">
            <div class="profile-content active" data-slide="0">

                <img class="panel-img" src="assets/profile-infopanel-top.png">
                <div class="pskill-title">Skills</div>
                <div class="panel-text pskill-panel">
                    <div class="pskill-tip">These skills can be used anytime during battle.</div>
                    <table class="pskill-table">
                        <tr><td class="pskill-l">
                                <p class="pskill-num">SKILL 1</p>
                                <p class="pskill-cd">Cooldown</p>
                                <p class="pskill-cd-num" id="pf-pskill-skill1-cd"></p>
                            </td>
                            <td class="pskill-m">
                                <img id="pf-pskill-skill1-iconURL" src="">
                            </td>
                            <td class="pskill-r">
                                <p class="pskill-name">
                                    <span id="pf-pskill-skill1-name"></span> 
                                    <span id="pf-pskill-skill1-rank"></span> Lv. 
                                    <span id="pf-pskill-skill1-level"></span></p>
                                <p class="pskill-description" id="pf-pskill-skill1-desc"></p>
                            </td></tr>
                        <tr><td class="pskill-l">
                                <p class="pskill-num">SKILL 2</p>
                                <p class="pskill-cd">Cooldown</p>
                                <p class="pskill-cd-num" id="pf-pskill-skill2-cd"></p>
                            </td>
                            <td class="pskill-m">
                                <img id="pf-pskill-skill2-iconURL" src="">
                            </td>
                            <td class="pskill-r">
                                <p class="pskill-name">
                                    <span id="pf-pskill-skill2-name"></span> 
                                    <span id="pf-pskill-skill2-rank"></span> Lv. 
                                    <span id="pf-pskill-skill2-level"></span></p>
                                <p class="pskill-description" id="pf-pskill-skill2-desc"></p>
                            </td></tr>
                        <tr><td class="pskill-l">
                                <p class="pskill-num">SKILL 3</p>
                                <p class="pskill-cd">Cooldown</p>
                                <p class="pskill-cd-num" id="pf-pskill-skill3-cd"></p>
                            </td>
                            <td class="pskill-m">
                                <img id="pf-pskill-skill3-iconURL" src="">
                            </td>
                            <td class="pskill-r">
                                <p class="pskill-name">
                                    <span id="pf-pskill-skill3-name"></span> 
                                    <span id="pf-pskill-skill3-rank"></span> Lv. 
                                    <span id="pf-pskill-skill3-level"></span></p>
                                <p class="pskill-description" id="pf-pskill-skill3-desc"></p>
                            </td></tr>
                    </table>
                </div>  
                <img class="panel-img" src="assets/profile-infopanel-bot.png">



                <img class="panel-img" src="assets/profile-infopanel-top.png">
                <div class="cskill-title">Class Skills</div>
                <div class="panel-text cskill-panel">
                    <div class="cskill-tip">These skills automatically go into effect in battle.</div>
                    <table class="cskill-table">
                        <tr><td class="cskill-l">
                                <p class="cskill-num">SKILL 1</p>
                            </td>
                            <td class="cskill-m">
                                <img id="pf-cskill-skill1-iconURL" src="">
                            </td>
                            <td class="cskill-r">
                                <p class="cskill-name">
                                    <span id="pf-cskill-skill1-name"></span> 
                                    <span id="pf-cskill-skill1-rank"></span> Lv. 
                                <p class="cskill-description" id="pf-cskill-skill1-desc"></p>
                            </td></tr>
                        <tr><td class="cskill-l">
                                <p class="cskill-num">SKILL 2</p>
                            </td>
                            <td class="cskill-m">
                                <img id="pf-cskill-skill2-iconURL" src="">
                            </td>
                            <td class="cskill-r">
                                <p class="cskill-name">
                                    <span id="pf-cskill-skill2-name"></span> 
                                    <span id="pf-cskill-skill2-rank"></span> Lv. 
                                    <span id="pf-cskill-skill2-level"></span></p>
                                <p class="cskill-description" id="pf-cskill-skill2-desc"></p>
                            </td></tr>
                        <tr><td class="cskill-l">
                                <p class="cskill-num">SKILL 3</p>
                            </td>
                            <td class="cskill-m">
                                <img id="pf-cskill-skill3-iconURL" src="">
                            </td>
                            <td class="cskill-r">
                                <p class="cskill-name">
                                    <span id="pf-cskill-skill3-name"></span> 
                                    <span id="pf-cskill-skill3-rank"></span> Lv. 
                                    <span id="pf-cskill-skill3-level"></span></p>
                                <p class="cskill-description" id="pf-cskill-skill3-desc"></p>
                            </td></tr>
                    </table>
                </div>  
                <img class="panel-img" src="assets/profile-infopanel-bot.png">



                <img class="panel-img" src="assets/profile-infopanel-top.png">
                <div class="np-title">Noble Phantasm</div>
                <div class="np-type">
                    <img class='pf-np-bot' id="pf-np-bot" src="">
                    <img class='pf-np-servant' id="pf-np-servant" src="">
                    <img class='pf-np-mid' id="pf-np-mid" src="">
                    <img class='pf-np-top' id="pf-np-top" src="">
                </div>
                <div class="panel-text">
                    <div class="np-name" id="pf-np-name"></div>
                    <table class="np-table">
                        <tr><td class="np-category">Rank</td><td id="pf-np-rank"></td></tr>
                        <tr><td class="np-category">Class</td><td id="pf-np-class"></td></tr>
                        <tr><td class="np-category">NP Lv.</td><td id="pf-np-level"></td></tr>
                        <tr><td class="np-category">NP Gauge</td><td>
                            <span id="pf-np-gauge-wrapper">
                                <img class="pf-np-gauge" id="pf-np-gauge-1" src="">
                                <img class="pf-np-gauge" id="pf-np-gauge-2" src="">
                                <img class="pf-np-gauge" id="pf-np-gauge-3" src="">
                            </span>
                            <span id="pf-np-gaugetext"></span></td></tr>
                    </table>
                    <div class="np-text" id="pf-np-desc"></div>
                </div>  
                <img class="panel-img" src="assets/profile-infopanel-bot.png">



                <img class="panel-img" src="assets/profile-infopanel-top.png">
                <div class="cc-title">Command Card</div>
                <div class="panel-text cc">
                    <table class="np-table">
                        <tr>
                            <td class="cc-type" id="pf-cc-cc1" style="flex: 20%">
                                <img class='pf-cc-bot' id="pf-cc-cc1-bot" src="">
                                <img class='pf-cc-servant' id="pf-cc-cc1-servant" src="">
                                <img class='pf-cc-mid' id="pf-cc-cc1-mid" src="">
                                <img class='pf-cc-top' id="pf-cc-cc1-top" src="">
                            </td>
                            <td class="cc-type" id="pf-cc-cc2" style="flex: 20%">
                                <img class='pf-cc-bot' id="pf-cc-cc2-bot" src="">
                                <img class='pf-cc-servant' id="pf-cc-cc2-servant" src="">
                                <img class='pf-cc-mid' id="pf-cc-cc2-mid" src="">
                                <img class='pf-cc-top' id="pf-cc-cc2-top" src="">
                            </td>
                            <td class="cc-type" id="pfcc--cc3" style="flex: 20%">
                                <img class='pf-cc-bot' id="pf-cc-cc3-bot" src="">
                                <img class='pf-cc-servant' id="pf-cc-cc3-servant" src="">
                                <img class='pf-cc-mid' id="pf-cc-cc3-mid" src="">
                                <img class='pf-cc-top' id="pf-cc-cc3-top" src="">
                            </td>
                            <td class="cc-type" id="pf-cc-cc4" style="flex: 20%">
                                <img class='pf-cc-bot' id="pf-cc-cc4-bot" src="">
                                <img class='pf-cc-servant' id="pf-cc-cc4-servant" src="">
                                <img class='pf-cc-mid' id="pf-cc-cc4-mid" src="">
                                <img class='pf-cc-top' id="pf-cc-cc4-top" src="">
                            </td>
                            <td class="cc-type" id="pf-cc-cc5" style="flex: 20%">
                                <img class='pf-cc-bot' id="pf-cc-cc5-bot" src="">
                                <img class='pf-cc-servant' id="pf-cc-cc5-servant" src="">
                                <img class='pf-cc-mid' id="pf-cc-cc5-mid" src="">
                                <img class='pf-cc-top' id="pf-cc-cc5-top" src="">
                            </td></tr>
                    </table>
                </div>  
                <img class="panel-img" src="assets/profile-infopanel-bot.png">

            </div>
            <div class="profile-content" data-slide="1">
                <img class="panel-img" src="assets/profile-infopanel-top.png">
                <div class="profile-title">Parameters</div>
                <div class="panel-text profile-panel" id="pf-parameter">
                    <table id="param-table">
                        <tr>
                            <td>STR</td><td><img class="pf-param-img" id="pf-param-str-img" src=""></td><td><span id="pf-param-str"></span></td>
                            <td>END</td><td><img class="pf-param-img" id="pf-param-end-img" src=""></td><td><span id="pf-param-end"></span></td></tr>
                        <tr>
                            <td>AGL</td><td><img class="pf-param-img" id="pf-param-agi-img" src=""></td><td><span id="pf-param-agi"></span></td>
                            <td>MP</td><td><img class="pf-param-img" id="pf-param-man-img" src=""></td><td><span id="pf-param-man"></span></td></tr>
                        <tr>
                            <td>LUK</td><td><img class="pf-param-img" id="pf-param-luk-img" src=""></td><td><span id="pf-param-luk"></span></td>
                            <td>NP</td><td><img class="pf-param-img" id="pf-param-np-img" src=""></td><td><span id="pf-param-np"></span></td></tr>
                    </table>
                </div>  
                <img class="panel-img" src="assets/profile-infopanel-bot.png">

                <img class="panel-img" src="assets/profile-infopanel-top.png">
                <div class="profile-title">Profile 1</div>
                <div class="panel-text profile-panel" id="pf-profile-profile1"></div>  
                <img class="panel-img" src="assets/profile-infopanel-bot.png">
                <img class="panel-img" src="assets/profile-infopanel-top.png">
                <div class="profile-title">Profile 2</div>
                <div class="panel-text profile-panel" id="pf-profile-profile2"></div>  
                <img class="panel-img" src="assets/profile-infopanel-bot.png">
                <img class="panel-img" src="assets/profile-infopanel-top.png">
                <div class="profile-title">Profile 3</div>
                <div class="panel-text profile-panel" id="pf-profile-profile3"></div>  
                <img class="panel-img" src="assets/profile-infopanel-bot.png">
                <img class="panel-img" src="assets/profile-infopanel-top.png">
                <div class="profile-title">Profile 4</div>
                <div class="panel-text profile-panel" id="pf-profile-profile4"></div>  
                <img class="panel-img" src="assets/profile-infopanel-bot.png">
                <img class="panel-img" src="assets/profile-infopanel-top.png">
                <div class="profile-title">Profile 5</div>
                <div class="panel-text profile-panel" id="pf-profile-profile5"></div>  
                <img class="panel-img" src="assets/profile-infopanel-bot.png">
                <img class="panel-img" src="assets/profile-infopanel-top.png">
                <div class="profile-title">Profile 6</div>
                <div class="panel-text profile-panel" id="pf-profile-profile6"></div>  
                <img class="panel-img" src="assets/profile-infopanel-bot.png">

                
            </div>
            <div class="profile-content" id="profile-content-gallery" data-slide="2">
                <div id="pf-gallery-img-wrapper">
                    <img id="pf-gallery-img" src=""></div>
                <div id="pf-gallery-nav"></div>
            </div>
            <div class="profile-content" id="profile-content-voiceover" data-slide="3">
            </div>
        </div>
    </div>


</div>






<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='js/index.js'></script>
</body>
</html>