<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <meta property="og:title" content="Fate/Starry Night Character Compendium" />

  <meta property="og:description" content="TFate Grand Order fan servant generator with a mock FGO servant profile UI. All assets belong to Lasengle, Typemoon, Nasu Kinoko, and artists. All Servant data belong to their respective creators. Personal use only!.">
  <meta name="description" content="Fate Grand Order fan servant generator with a mock FGO servant profile UI. All assets belong to Lasengle, Typemoon, Nasu Kinoko, and artists. All Servant data belong to their respective creators. Personal use only!">
  
  <meta name="google-site-verification" content="oBjSHH7uh3kTsqNz1qTra8nMygRSy_yYAWGecxlIPPI" />

  <title>FGO Fan Servant Generator</title>
  

  <script src="https://kit.fontawesome.com/fbb57351e0.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/servant-profile.css">
  <link rel="stylesheet" href="css/origin-list.css">
  <link rel="stylesheet" href="css/edit-page.css">
  <link rel="stylesheet" href="css/disqus.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

<style>

</style>



</head>
<body>


<div class='flex-container'>

    <div id="edit-page" class=""> 
      <div id="edit-page-wrapper">
          <div class="one-row-item">
              <label for="edit-info-cardURL">Unique Servant Name (All lowercase, no spaces. This is the ID we use to identify your Servant.)</label><br>
              <input type="text" id="edit-info-cardURL" name="edit-info-cardURL" value=""><br>
          </div>

          <div class="flex-break"></div>

          <div  class="one-row-item">
              <label for="edit-info-cardartURL"></label>Card Art URL (For best results: 300x512. OR same ratio.)<br>
              <input type="text" id="edit-info-cardartURL" name="edit-info-cardartURL" value=""><br>
          </div>
          <div class="flex-break"></div>
          <div class="one-row-item">
              <label for="edit-info-ccartURL"></label>Command Card Art URL (For best results: 135x165, chin rests at 95 pixel mark from the top. OR same ratio.)<br>
              <input type="text" id="edit-info-ccartURL" name="edit-info-ccartURL" value=""><br>
          </div>
          <div class="flex-break"></div>
          <div class="one-row-item">
              <label for="edit-info-oliconURL"></label>Origin List Icon URL (For best results: SQUARE images only.)<br>
              <input type="text" id="edit-info-oliconURL" name="edit-info-oliconURL" value=""><br>
          </div>

          <div class="flex-break"></div>

          <div class="three-row-item edit-title">
              <label for="edit-info-servantName"></label>Servant Name<br>
              <input type="text" id="edit-info-servantName" name="edit-info-servantName" value=""><br>
          </div>
          <div class="three-row-item edit-title">
              <label for="edit-info-servantClass"></label>Servant Class<br>
              <select id="edit-info-servantClass" name="edit-info-servantClass">
                <% names_class.forEach(function(name) { %>
                  <option value="<%= name %>"><%= name %></option>
                <% }); %>
              </select><br>
          </div>
          <div class="three-row-item edit-title">
              <label for="edit-info-servantRarity">Servant Rarity</label><br>
              <select id="edit-info-servantRarity" name="edit-info-servantRarity">
                <% names_rarity.forEach(function(rarity) { %>
                  <option value="<%= rarity %>"><%= rarity %></option>
                <% }); %>
              </select><br>
          </div>

          <div class="flex-break"></div>

          <div class="one-row-item edit-title">FGO Skill Icons</div>
          <div><a style="color:white;" href="https://fategrandorder.fandom.com/wiki/Category:Icons" target=”_blank”>https://fategrandorder.fandom.com/wiki/Category:Icons</a></div>

            <% names_skill.forEach(function(name) { %>
              <div class="flex-break"></div>
              <div class="one-row-item edit-title">Personal Skill <%= name %></div>
              <div class="flex-break"></div>
              <div>
              <label for="edit-pskill-skill<%= name %>-name">Name</label><br>
              <input type="text" id="edit-pskill-skill<%= name %>-name" name="edit-pskill-skill<%= name %>-name" value=""><br>
              </div>
              <div class="edit-rank">
              <label for="edit-pskill-skill<%= name %>-rank">Rank</label><br>
              <select id="edit-pskill-skill<%= name %>-rank" name="edit-pskill-skill<%= name %>-rank">
                <% names_skillrank.forEach(function(rank) { %>
                  <option value="<%= rank %>"><%= rank %></option>
                <% }); %>
              </select><br>
              </div>
              <div class="edit-lv">
              <label for="edit-pskill-skill<%= name %>-level">Lv</label><br>
              <select id="edit-pskill-skill<%= name %>-level" name="edit-pskill-skill<%= name %>-">
                <% names_skilllv.forEach(function(lv) { %>
                  <option value="<%= lv %>"><%= lv %></option>
                <% }); %>
              </select><br>
              </div>
              <div class="edit-cd">
              <label for="edit-pskill-skill<%= name %>-cd">CD</label><br>
              <input type="text" id="edit-pskill-skill<%= name %>-cd" name="edit-pskill-skill<%= name %>-cd" value=""><br>
              </div>
              <div>
              <label for="edit-pskill-skill<%= name %>-iconURL">Icon URL</label><br>
              <input type="text" id="edit-pskill-skill<%= name %>-iconURL" name="edit-pskill-skill<%= name %>-iconURL" value=""><br>
              </div>
              <div>
              <label for="edit-pskill-skill<%= name %>-desc">Effect</label><br>
              <textarea id="edit-pskill-skill<%= name %>-desc" name="edit-pskill-skill<%= name %>-desc" rows="5" cols="30"></textarea>
              </div>
            <% }); %>

            <% names_skill.forEach(function(name) { %>
              <div class="flex-break"></div>
              <div class="one-row-item edit-title">Class Skill <%= name %></div>
              <div class="flex-break"></div>
              <div>
              <label for="edit-cskill-skill<%= name %>-name">Name</label><br>
              <input type="text" id="edit-cskill-skill<%= name %>-name" name="edit-cskill-skill<%= name %>-name" value=""><br>
              </div>
              <div class="edit-rank">
              <label for="edit-cskill-skill<%= name %>-rank">Rank</label><br>
              <select id="edit-cskill-skill<%= name %>-rank" name="edit-cskill-skill<%= name %>-rank">
                <% names_skillrank.forEach(function(rank) { %>
                  <option value="<%= rank %>"><%= rank %></option>
                <% }); %>
              </select><br>
              </div>
              <div>
              <label for="edit-cskill-skill<%= name %>-iconURL">Icon URL</label><br>
              <input type="text" id="edit-cskill-skill<%= name %>-iconURL" name="edit-cskill-skill<%= name %>-iconURL" value=""><br>
              </div>
              <div>
              <label for="edit-cskill-skill<%= name %>-desc">Effect</label><br>
              <textarea id="edit-cskill-skill<%= name %>-desc" name="edit-cskill-skill<%= name %>-desc" rows="5" cols="30"></textarea>
              </div>
            <% }); %>

          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Noble Phantasm</div>
          <div class="flex-break"></div>

          <div>
          <label for="edit-np-type">Type</label><br>
          <select id="edit-np-type" name="edit-np-type">
              <option value="buster">Buster</option>
              <option value="arts">Arts</option>
              <option value="quick">Quick</option>
          </select><br>
          </div>
          <div>
          <label for="edit-np-name">Name</label><br>
          <input type="text" id="edit-np-name" name="edit-np-name" value=""><br>
          </div>
          <div class="edit-rank">
          <label for="edit-np-rank">Rank</label><br>
          <select id="edit-np-rank" name="edit-np-rank">
            <% names_nprank.forEach(function(rank) { %>
              <option value="<%= rank %>"><%= rank %></option>
            <% }); %>
          </select><br>
          </div>
          <div>
          <label for="edit-np-class">Class</label><br>
          <input type="text" id="edit-np-class" name="edit-np-class" value=""><br>
          </div>
          <div class="edit-lv">
          <label for="edit-np-level">Lv</label><br>
          <select id="edit-np-level" name="edit-np-level">
            <% names_nplv.forEach(function(lv) { %>
              <option value="<%= lv %>"><%= lv %></option>
            <% }); %>
          </select><br>
          </div>
          <div>
          <label for="edit-np-desc">Effect</label><br>
          <textarea id="edit-np-desc" name="edit-np-desc" rows="5" cols="30"></textarea>
          </div>

          <div class="flex-break"></div>
          <div class="edit-title">Command Cards</div>
          <% names_cc.forEach(function(name) { %>
            <div>
            <label for="edit-cc-cc<%= name %>">Card <%= name %></label><br>
            <select id="edit-cc-cc<%= name %>" name="edit-cc-cc<%= name %>">
              <% names_cardtype.forEach(function(type) { %>
                  <option value="<%= type.toLowerCase() %>"><%= type %></option>
                <% }); %>
            </select><br>
            </div>
          <% }); %>

          <div class="flex-break"></div>
          <div class="edit-title">Parameters</div>
            <% names_param.forEach(function(param) { %>
              <div>
                <label for="edit-param-<%= param.toLowerCase() %>"><%= param %></label><br>
                <select id="edit-param-<%= param.toLowerCase() %>" name="edit-param-<%= param.toLowerCase() %>">
                  <% names_paramrank.forEach(function(rank) { %>
                    <option value="<%= rank.value %>"><%= rank.name %></option>
                  <% }); %>
                </select><br>
              </div>
            <% }); %>

          <div class="flex-break"></div>
          <div class="one-row-item">
          <label class="edit-title" for="edit-profile-fc">Face Claim</label><br>
          <input type="text" id="edit-profile-fc" name="edit-profile-fc" value=""><br>
          </div>
          <div class="flex-break"></div>
          <div class="one-row-item">
          <label class="edit-title" for="edit-profile-sheet">Character Sheet URL</label><br>
          <input type="text" id="edit-profile-sheet" name="edit-profile-sheet" value=""><br>
          </div>
          <div class="flex-break"></div>
          <div class="one-row-item">
          <label class="edit-title" for="edit-profile-charinfo">Character Info</label><br>
          <textarea id="edit-profile-charinfo" name="edit-profile-charinfo" rows="5" cols="30"></textarea>
          </div>

          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Profiles</div>
          <div class="flex-break"></div>
          <% names_profile.forEach(function(name) { %>
            <div class="two-row-item">
              <label for="edit-profile-profile<%= name %>">Profile <%= name %></label><br>
              <textarea id="edit-profile-profile<%= name %>" name="edit-profile-profile<%= name %>" rows="5" cols="30"></textarea>
            </div>
          <% }); %>
          
          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Voice</div>
          <div class="flex-break"></div>
          <div id="edit-voice"></div>
          <div class="flex-break"></div>
          <div id="edit-voice-add">Add New Voice</div>


          <div class="flex-break"></div>
          <div class="one-row-item edit-title">Gallery</div>
          <div class="flex-break"></div>
          <div id="edit-gallery"></div>
          <div class="flex-break"></div>
          <div id="edit-gallery-add">Add New Image</div>


          <div class="flex-break"></div>
          <div>
          <label for="edit-password" id="edit-password-label">Password (save this, as you will need to input this password to edit this page in the future)</label><br>
          <input type="text" id="edit-password" name="edit-password" value=""><br>
          </div>
          <div class="flex-break"></div>

          <div><input id="delete" type="button" value="Delete" /></div>
          <div><input id="submit" type="button" value="Submit" /></div>
          <div><input id="edit-page-cancel" type="button" value="Cancel" /></div>
    
      </div>
    </div>


    <div id="origin-list" class="active">
        <div id="origin-list-top">
            <div id="ol-title">Spirit Origin List</div>
            <div id="ol-caption">Card</div>
            <div id="ol-tip">By tapping the icon, you can check the details of your selection.</div>
        </div>
        <div id="origin-list-mid">
            <div id="ol-nav-left">
                <div class="ol-nav-left-bt" id="ol-nav-left-bt1">
                    <div id="ol-nav-left-title1">Servants</div>
                    <div id="ol-nav-left-info1"><%=servantList.length%>/<%=servantList.length%></div>
                </div>
                <div class="ol-nav-left-bt" id="ol-nav-left-bt2">
                    <div id="ol-nav-left-title2">Craft Essence</div>
                    <div id="ol-nav-left-info2">0/0</div>
                </div>
                <div class="ol-nav-left-bt" id="ol-nav-left-bt3">
                    <div id="ol-nav-left-title3">Command Code</div>
                    <div id="ol-nav-left-info3">0/0</div>
                </div>
            </div>
            <div id="ol-nav-right">
                <div class="ol-nav-right-bt" id="ol-nav-right-bt1">
                    <div>Filter</div>
                </div>
                <div class="ol-nav-right-bt" id="ol-nav-right-bt2">
                    <div>Acquisition</div>
                </div>
                <div class="ol-nav-right-bt" id="ol-nav-right-bt3">
                    <div>Descend</div>
                </div>
            </div>
        </div>
        <div id="origin-list-bot">
            <% servantList.forEach(servant => { %>
            <div class="ol-icon"> 
                <img class='ol-icon-summonedStatus' src="assets/charaicon/_<%=servant.info.summonedStatus%>.png">
                <img class='ol-icon-base' src="assets/charaicon/card<%=servant.info.servantRarity%>.png">
                <img class='ol-icon-servant' id='ol-<%=servant.info.cardURL%>' src="<%=servant.info.oliconURL%>">
                <img class='ol-icon-frame' src="assets/charaicon/card<%=servant.info.servantRarity%>frame.png">
                <img class='ol-icon-type' src="assets/charaicon/servant<%=servant.info.servantRarity%>.png">
                <img class='ol-icon-class' src="assets/charaicon/class<%=servant.info.servantClass.toLowerCase()%><%=servant.info.servantRarity%>.png">
                <img class='ol-icon-star' src="assets/charaicon/star<%=servant.info.servantRarity%>.png">
            </div>
            <% }) %>
        </div>
        <div id="origin-list-bot2"></div>
    </div>


    <div id="col-left" style="flex: 5.5%">
        <div id="button-close-profile" style="flex: 25%"><span>Close</span></div>
        <div id="button-edit-page" style="flex: 25%">
          <i class="fa-solid fa-pen-to-square"></i><span>Edit</span>
        </div>
        <div id="button-create-page" style="flex: 25%">
          <i class="fa-solid fa-wand-magic-sparkles"></i><span>Create</span>
        </div>
        <div style="flex: 25%"><span>Favorite</span></div>
    </div>


    <div id="col-mid" style="flex: 32.5%">
        <img id="pf-charagraph-base" src="">
        <img id="pf-cardURL" src="">
        <img id="pf-charagraph-frame" src="">
        <img id="pf-charagraph-class" src="">
        <div id="pf-info-servantClass"></div>
        <div id="pf-info-servantClass-underline"></div>
        <div id="pf-info-servantName"></div>
    </div>


    <div id="col-right" style="flex: 62%">
        <div id="profile-name">
            <div id="pf-servantName"></div>
            <div id="pf-servantClass"></div>
            <div id="pf-servantID" style="display:none"></div>
        </div>
        <div id="profile-nav">
            <div style="flex: 25%" class="profile-nav active" data-slide="0">Status</div>
            <div style="flex: 25%" class="profile-nav" data-slide="1">Profile</div>
            <div style="flex: 25%" class="profile-nav" data-slide="2">Gallery</div>
            <div style="flex: 25%" class="profile-nav" data-slide="3">Voice</div>
        </div>
        <div id="profile-content">

            <div class="profile-content active" data-slide="0">

                <%- html_panel.short_top %>
                <div class="pskill-title">Skills</div>
                <div class="panel-text pskill-panel">
                    <div class="pskill-tip">These skills can be used anytime during battle.</div>
                    <table class="pskill-table">
                      <% names_skill.forEach(function(name) { %>
                        <tr><td class="pskill-l">
                                <p class="pskill-num">SKILL <%= name %></p>
                                <p class="pskill-cd">Cooldown</p>
                                <p class="pskill-cd-num" id="pf-pskill-skill<%= name %>-cd"></p>
                            </td>
                            <td class="pskill-m">
                              <img class="pf-skill-icon-cover" src="assets/skill-icon-cover.png">
                              <img id="pf-pskill-skill<%= name %>-iconURL" src="">
                            </td>
                            <td class="pskill-r">
                                <p class="pskill-name">
                                    <span id="pf-pskill-skill<%= name %>-name"></span> 
                                    <span id="pf-pskill-skill<%= name %>-rank"></span> Lv. 
                                    <span id="pf-pskill-skill<%= name %>-level"></span></p>
                                <p class="pskill-description" id="pf-pskill-skill<%= name %>-desc"></p>
                            </td></tr>
                      <% }); %>
                    </table>
                </div>  
                <%- html_panel.mid_bot %>

                <%- html_panel.short_top %>
                <div class="cskill-title">Class Skills</div>
                <div class="panel-text cskill-panel">
                    <div class="cskill-tip">These skills automatically go into effect in battle.</div>
                    <table class="cskill-table">
                      <% names_skill.forEach(function(name) { %>
                        <tr><td class="cskill-l">
                                <p class="cskill-num">SKILL <%= name %></p>
                            </td>
                            <td class="cskill-m">
                              <img class="pf-skill-icon-cover" src="assets/skill-icon-cover.png">
                              <img id="pf-cskill-skill<%= name %>-iconURL" src="">
                            </td>
                            <td class="cskill-r">
                                <p class="cskill-name">
                                    <span id="pf-cskill-skill<%= name %>-name"></span> 
                                    <span id="pf-cskill-skill<%= name %>-rank"></span> Lv. 
                                <p class="cskill-description" id="pf-cskill-skill<%= name %>-desc"></p>
                            </td></tr>
                      <% }); %>
                    </table>
                </div>  
                <%- html_panel.mid_bot %>

                <%- html_panel.mid_top %>
                <div class="np-title">Noble Phantasm</div>
                <div class="np-type">
                    <img class='pf-np-bot' id="pf-np-bot" src="">
                    <img class='pf-np-servant' id="pf-np-servant" src="">
                    <img class='pf-np-mid' id="pf-np-mid" src="">
                    <img class='pf-np-top' id="pf-np-top" src="">
                </div>
                <div class="panel-text">
                    <div class="np-name" id="pf-np-name"></div>
                    <table class="np-table">
                        <tr><td class="np-category">Rank</td><td id="pf-np-rank"></td></tr>
                        <tr><td class="np-category">Class</td><td id="pf-np-class"></td></tr>
                        <tr><td class="np-category">NP Lv.</td><td id="pf-np-level"></td></tr>
                        <tr><td class="np-category">NP Gauge</td><td>
                            <span id="pf-np-gauge-wrapper">
                                <img class="pf-np-gauge" id="pf-np-gauge-1" src="">
                                <img class="pf-np-gauge" id="pf-np-gauge-2" src="">
                                <img class="pf-np-gauge" id="pf-np-gauge-3" src="">
                            </span>
                            <span id="pf-np-gaugetext"></span></td></tr>
                    </table>
                    <div class="np-text" id="pf-np-desc"></div>
                </div>  
                <%- html_panel.mid_bot %>

                <%- html_panel.mid_top %>
                <div class="cc-title">Command Card</div>
                <div class="panel-text cc">
                    <table class="np-table">
                        <tr>
                          <% names_cc.forEach(function(name) { %>
                            <td class="cc-type" id="pf-cc-cc<%= name %>" style="flex: 20%">
                                <img class='pf-cc-bot' id="pf-cc-cc<%= name %>-bot" src="">
                                <img class='pf-cc-servant' id="pf-cc-cc<%= name %>-servant" src="">
                                <img class='pf-cc-mid' id="pf-cc-cc<%= name %>-mid" src="">
                                <img class='pf-cc-top' id="pf-cc-cc<%= name %>-top" src="">
                            </td>
                          <% }); %>
                            </tr>
                    </table>
                </div>  
                <%- html_panel.mid_bot %>
            </div>

            <div class="profile-content" data-slide="1">
                <%- html_panel.long_top %>
                <div class="profile-title">Face Claim/Character Sheet</div>
                <div class="panel-text profile-panel" id="pf-fc-sheet">
                  <div class="pf-profile-fc">FC: <span id="pf-profile-fc"></span></div>
                  <div class="pf-profile-sheet">Sheet: <span id="pf-profile-sheet"></span></div>
                </div> 
                <%- html_panel.mid_bot %>

                <%- html_panel.mid_top %>
                <div class="profile-title">Character Info</div>
                <div class="panel-text profile-panel" id="pf-profile-charinfo"></div>  
                <%- html_panel.mid_bot %>

                <%- html_panel.mid_top %>
                <div class="profile-title">Parameters</div>
                <div class="panel-text profile-panel" id="pf-parameter">
                    <table id="param-table">
                        <tr>
                            <td>STR</td><td><img class="pf-param-img" id="pf-param-str-img" src=""></td><td><span id="pf-param-str"></span></td>
                            <td>END</td><td><img class="pf-param-img" id="pf-param-end-img" src=""></td><td><span id="pf-param-end"></span></td></tr>
                        <tr>
                            <td>AGL</td><td><img class="pf-param-img" id="pf-param-agi-img" src=""></td><td><span id="pf-param-agi"></span></td>
                            <td>MP</td><td><img class="pf-param-img" id="pf-param-man-img" src=""></td><td><span id="pf-param-man"></span></td></tr>
                        <tr>
                            <td>LUK</td><td><img class="pf-param-img" id="pf-param-luk-img" src=""></td><td><span id="pf-param-luk"></span></td>
                            <td>NP</td><td><img class="pf-param-img" id="pf-param-np-img" src=""></td><td><span id="pf-param-np"></span></td></tr>
                    </table>
                </div>  
                <%- html_panel.mid_bot %>

                <% names_profile.forEach(function(name) { %>
                  <%- html_panel.mid_top %>
                  <div class="profile-title">Profile <%= name %></div>
                  <div class="panel-text profile-panel" id="pf-profile-profile<%= name %>"></div>  
                  <%- html_panel.mid_bot %>
                <% }); %>  
            </div>

            <div class="profile-content" id="profile-content-gallery" data-slide="2">
                <div id="pf-gallery-img-wrapper">
                    <img id="pf-gallery-img" src=""></div>
                <div id="pf-gallery-nav"></div>
            </div>

            <div class="profile-content" id="profile-content-voiceover" data-slide="3">
            </div>

        </div>
    </div>
</div>




<!-------------- DISQUS ----------------->
<div id="disqus_thread_toggle">Help Thread</div>
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://fatechan.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<!-------------- JS ----------------->
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='js/index.js'></script>
<script id="dsq-count-scr" src="//fatechan.disqus.com/count.js" async></script>

</body>
</html>